body {
    font-family: 'Poppins', sans-serif;

}


h1 {
    font-size: 50px;
}

img {}




section {
    display: flex;
    margin-bottom: 100px;

}

.top-banner {
    background-image: url();
    background-repeat: no-repeat;

}

.p {
    margin-bottom: 20px;
}


.half-width {
    width: 50%;
    padding-left: 8%;
    padding-top: 2%;
    margin-right: 8%;
}

.half-width img {
    width: 100%;
    padding-right: 8%;
    padding-top: 4%;
}

.link-button {

    text-decoration: none;
    background-image: linear-gradient(grey, gold);
    padding: 10px 35px;
    font-weight: 700;
    color: white;
    border-radius: 4px;

}




.dream {
    background-image: url(bg/hero-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-margin: 30px;

}

.resume {
    width: 50%;
}

.resume img {
    width: 80%;
    padding-left: 8%;
    padding-top: 4%;
}






.footer {

    height: 50px;
    width: auto;
}